.skeleton-loader {
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    height: 40px;
    background-color: #f0f0f0;
    animation: skeleton-loader-animation 1s infinite ease-in-out;
}

@keyframes skeleton-loader-animation {
    0% {
        background-color: #f0f0f0;
    }
    50% {
        background-color: #e0e0e0;
    }
    100% {
        background-color: #f0f0f0;
    }
}


